version: '3.8'
services:
  mongo:
    image: mongo:6
    container_name: smartqueue_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  mongo-express:
    image: mongo-express
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo

  queue-service:
    build: ./services/queue-service
    container_name: sq_queue
    environment:
      - MONGO_URL=mongodb://mongo:27017/queue_db
    ports:
      - "4001:4001"
    depends_on:
      - mongo

  api-gateway:
    build: ./api-gateway
    container_name: sq_gateway
    environment:
      - QUEUE_SERVICE_URL=http://queue-service:4001
    ports:
      - "4000:4000"
    depends_on:
      - queue-service

volumes:
  mongo_data:
